html, body{height: 100%;}

body{background-color: white;}

.container{
	margin: auto;
	padding: 0;
	height: 100%;
	width: 1366px;
}

#nameEmployed{
	text-align: left;
	width: 88%;
}

.welcomeTitle:hover{
	background-color: transparent;
}


.footerText{
	text-align: center;
}

div#createUserForm{
	width: 400px;
	margin: auto;
	text-align: center;
	margin-bottom: 100px;
}

.homeIcon{
	height: 40px;

}

.titleMenu{
	width: 57%;
	font-size: 30px;
	text-align: right;
	margin:0;
	padding: 0;
}

.signoutli{
	width: 38%;
}

.signout{
	width: 80px;
	float: right;
	text-align: right;
}

#menu{
	margin:auto;
	margin-top: 20px;
	width: 1000px;
}

footer{
	margin-top: 20%;
}

#aHomeLogo{
	margin: 0%;
	padding: 0%;

}